Repository uc-cdis/guppy, pull requests merged in 2023-05, with the labels that each got.

#160 [Snyk] Upgrade: @babel/cli, @babel/core, @babel/node, @babel/plugin-proposal-object-rest-spread, @babel/plugin-transform-runtime, @babel/preset-env, @babel/preset-react
  package-lock.json
  package.json
Labels: test-apis-clientCredGrantTest

#175 (PXP-9319): Guppy to support cardinality queries
  doc/queries.md
  package-lock.json
  package.json
  src/components/ConnectedFilter/index.jsx
  src/components/Utils/queries.js
  src/server/__tests__/schema.test.js
  src/server/es/filter.js
  src/server/es/index.js
  src/server/resolvers.js
  src/server/schema.js
Labels: @requires-guppy

#177 [Snyk] Upgrade node-fetch from 2.6.7 to 2.6.9
  package-lock.json
  package.json
Labels: @requires-guppy

#159 [Snyk] Upgrade @babel/runtime-corejs3 from 7.17.8 to 7.20.1
  package-lock.json
  package.json
Labels: test-apis-etlTest, test-coremetadata-getCoremetadataTest, test-portal-coremetadatapageTest

#176 ran npm audit fix
  package-lock.json
Labels: @requires-guppy

#182 [Snyk] Upgrade eslint-plugin-react from 7.31.11 to 7.32.2
  package-lock.json
  package.json
Labels: @requires-guppy

#183 [Snyk] Upgrade @babel/runtime-corejs3 from 7.20.7 to 7.21.0
  package-lock.json
  package.json
Labels: @requires-guppy

#180 (PXP-9147): add Count support to guppy connectedFilter and fix bugs
  doc/queries.md
  package-lock.json
  package.json
  src/components/ConnectedFilter/index.jsx
  src/components/ConnectedFilter/utils.js
  src/components/Utils/filters.js
  src/components/Utils/queries.js
  src/components/__tests__/filters.test.js
  src/server/__tests__/schema.test.js
  src/server/es/index.js
  src/server/resolvers.js
  src/server/schema.js
Labels: @requires-guppy

#187 [Snyk] Upgrade: @babel/cli, @babel/core, @babel/preset-env
  package-lock.json
  package.json
Labels: @requires-guppy

#188 [Snyk] Upgrade @babel/runtime-corejs3 from 7.21.0 to 7.21.5
  package-lock.json
  package.json
Labels: @requires-guppy

#192 upgrade @gen3/ui-component to update dependencies
  package-lock.json
  package.json
Labels: @requires-guppy
